<h1>EDIT COUNTRY</h1>

<form action="/countries/<%= @country.id %>" method="POST">
	<%= token_tag %>
		<label for="name"> Name:</label>
		<input type="text" name="name" placeholder="Country Name">

		<label for="population"></label>
		<input name="population" placeholder="population"></input>
		
		<label for='language'></label>
		<input type="text" name="language"></input>

		<label for='president'></label>
		<input type="text" name="president"></input>

		<input type="submit" value="Save">
</form>