<h1>NEW COUNTRY</h1>

<form action="/countries" method="POST">
	<%= token_tag %>
		<label for="@country.name"> Name:</label>
		<input type="text" name="name" placeholder="Country Name">
	<%= token_tag %>
		<label for="@country.population"> Population:</label>
		<textarea name="population" placeholder="Population"></textarea>
	<%= token_tag %>	
		<label for='@country.language'>Language:</label>
		<input type="text" name="language"></input>
	<%= token_tag %>	
		<label for='@country.president'>President: </label>
		<input type="text" name="president"></input>

		<input type="submit" value="Save">
</form>
